* {
    margin: 0;
    padding: 0;
}
.detail-nav {
    display: flex;
    background-color:beige;
}
.detail-nav>a {
    margin-left: auto;
    border: 1px solid balck;
    /* border:1px solid black; */
    margin-top: 15px;
    color:black;
    
}
a:hover {
    text-decoration:none;
}
#header {
    font-size:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container1 {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    justify-content:center;
    align-content: center;
    justify-items:center;
    align-items:center;
    
    
}
.article {
    border: 2px solid bisque;
    border-radius: 12px;
    width: 100%;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.article>img {
    width:100%;
    height:100%;
    border-radius:12px;
    /* opacity: 0.8;  */
    background:rgb(185, 156, 118)
} 
.article>span {
    position: absolute;
    z-index:1;
    color:white;
    font-size: 2em;
    
}

.paging {
    display:flex;
    justify-content:center;

}
.paging>input {
    margin-left: 5px;
}

@media only screen and (max-width:500px) {
    .container1 {
        grid-template-columns:repeat(1, 1fr);
    }
}





