form {
    margin: 50px;
    width: 50%;
}
.form-control{
    border-radius: 10px;
    height: 40px;
}
form h1 {
    font-weight: 700;
}

.form-group {
    margin-top: 40px;
    
}

button {
    margin-top: 40px;
}