{%extends 'base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'anytime.css'%}">
<div class="detail-nav">
    <p id="header"># Momories..</p>
    <a href="{%url 'anytime:create'%}">추억을 담아보세요.</a>
</div>
<div class="container1">
    <section class="article">
        <img src="{%static 'content5.jpeg'%}" alt="이미지1">
        <span class="imgtext">"하남" Memories <br>
            <small>#결혼식 사진찍는 카페 #캠핑감성 고기집 #드라이브</small></span>
    </section>
    <section class="article">
        <img src="" alt="이미지2">
        <span class="imgtext">이미지를 업데이트 해주세요.</span>
    </section>
    <section class="article">
        <img src="" alt="이미지3">
        <span class="imgtext">이미지를 업데이트 해주세요.</span>
    </section>
    <section class="article">
        <img src="" alt="이미지1">
        <span class="imgtext">이미지를 업데이트 해주세요.</span>
    </section>
    <section class="article">
        <img src="" alt="이미지2">
        <span class="imgtext">이미지를 업데이트 해주세요.</span>
    </section>
    <section class="article">
        <img src="" alt="이미지3">
        <span class="imgtext">이미지를 업데이트 해주세요.</span>
    </section>    
</div>
<div class="paging">
<input type="radio" name="paginator" id="paginator">
<!-- <input type="radio" name="paginator" id="paginator">
<input type="radio" name="paginator" id="paginator">
<input type="radio" name="paginator" id="paginator"> -->
</div>
{%endblock%}