{%extends 'base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'index1.css'%}">
<div class="tm-container mx-auto">
        <section class="tm-section tm-section-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tm-bg-circle-white tm-flex-center-v">
                            <header class="text-center">
                                <h1 class="tm-site-title">MyungJu Son</h1>
                                <p class="tm-site-subtitle">재무담당 손명주님을 소개합니다.</p>
                            </header>
                            <p>깜비엄마라고도 불리는 뇨자. 혹은 엑셀여왕이라고 불리는 뇨자. 우리팀의 실질적인 안방마님 역활을 하고 있다. 담당은 경영 및 경영지원 재무 담당을 하고 있다. 평상시는 천사지만, 화나면.. 주님을 볼 수 도 있다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="tm-section-2" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">BoRam Yang</h2>
                        <p class="tm-site-subtitle">디자인 담당 양보람을 소개합니다.</p>
                        <p class="mb-4">팀의 막내다. 비타민 같은 존재라고 하지만, 아직 느껴보지는 못했다. 어쨌든 의심되겠지만 막내는 맞다!! 
                            팀에서 모든 디자인 분야를 담당하고 있으며, 송중기를 좋아한다. 청하도 좋아한다. 맛집 or 카페는 막내한테 물어보면 된다.부업 으로 굿즈를 직접 디자인 해서 팔고 있다. 
                            또 인스타로 맛집 및 카페 홍보도 하고 있으니 많은 관심 부탁...;
                        </p>
                        <p class="mb-5">
                            instagram: xxxx
                            goods: xxxxx
                        </p>
                        <!-- <p class="text-right mb-0">
                            <a href="#tm-section-3" class="btn tm-btn-secondary">Continue...</a>
                        </p> -->
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="{%static 'content2.jpeg'%}" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>
        <section id="tm-section-3" class="tm-section tm-section-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tm-section-2-right">
                        <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v">
                            <header>
                                <h2 class="tm-color-primary">GwangHeon Back</h2>
                                <p class="tm-site-subtitle">온라인 마켓 담당 백광헌을 소개합니다.</p>
                            </header>
                            <p> 리더가 몸에 밴 남자라 말해야 하나.. 청년부 회장을 할 만큼 그룹을 이끌어 가는데 타고난 친구이다. 우리팀 온라인 마켓 및 광고집행 등 온라인에서 일어나는 모든 액션을 담당한다.
                            </p>
                            <ul class="dashed">
                                <li>전 청년부 회장</li>
                                <li>현 찬양팀 리더</li>
                                <li>현 재무담당 손명주 남친</li>
                                <li>미래 재무담당 손명주 남편</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tm-section pt-2 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 tm-flex-center-v tm-section-left">
                        <header>
                            <h2 class="tm-color-primary">SangWook Jeon</h2>
                            <p class="tm-site-subtitle">개발 담당 전상욱을 소개합니다</p>
                        </header>
                        <p>왼쪽에 노란색 옷 입고 있는 사람이다. 이걸 지금 만들고 있는 사람이기도 한데.. 
                            아직도 배우고 있는 중이라 잘 만들지는 못한다. 팀에서 개발을 맡고 있는데 기획도 하면서 개발을 하고 있다.
                            html, css(bootstrap), js, django 로 지금 이 사이트를 만들고 있다. 
                        </p>
                    </div>
                    <div class="col-xl-8 col-lg-8 tm-circle-img-container tm-contact-right">
                        <img src="{%static 'content5.jpeg'%}" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>
        {}
    <script src="{%static 'scroll.js'%}"></script>
    <!-- https://github.com/cferdinandi/smooth-scroll -->
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            easing: 'easeInOutQuart',
            speed: 800
        });
    </script>
{%endblock%}