<div class="main">
    <div class="content1">
        <div class="information">
            <h1>깜비엄마</h1>
            <ul>
                <li>
                    별명: 깜비엄마
                </li>
                <li>
                    경영 및 재무 달인
                </li>
                <li>
                    엑셀여왕
                </li>
            </ul>
        </div>
        <div class="picture">
            <img src="{%static  'content1.jpeg'%}" alt="content1" width="400px" >
        </div>
        
    </div>
    
    <div class="content2">
        자기자랑
    </div>
    <div class="content3">
        자기자랑
    </div>
    <div class="content4">
        자기자랑
    </div>
</div>

<script src="{% static 'index.js'%}"></script>